<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sukses</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <!-- tes dari kode main.py akan dikirim kesini dan object function dapat_nama yang di return akan di kirim kesini -->
  <!-- ketika di kode python yang username dan password di set maka akan masuk disini dari main.py-->
  <h1>Halo {{tes.dapat_nama()}}</h1>
</body>

</html>
