<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hasil_luas</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Hasil Luas</h1>
  <p>Angka Yang Anda Pilih = {{htung_luas.output_luas()}}</p>
  <p>Hasil Luas Adalah = {{htung_luas.luas()}}</p>
  <!-- kembali ke rute '/'-->
  <form action="http://127.0.0.1:5000/">
    <button>kembali</button>
  </form>
  <form action="http://127.0.0.1:5000/hitung_lebar">
    <button>Input Keliling</button>
  </form>
</body>

</html>
