<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Input keliling</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Input Keliling</h1>
  <form method="POST">
    <input type="" name="keliling" placeholder="masukan angka"><br>
    <input type="submit" value="kirim">
  </form>
  <!-- rute input luas -->
  <form action="http://127.0.0.1:5000/?">
    <button>Input Luas</button>
  </form>
</body>

</html>
