<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Input luas</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Input Luas</h1>
  <form method="POST">
    <input type="number" name="luas" placeholder="masukan luas"><br>
    <input type="submit" value="kirim">
  </form>
  <!-- ke rute input keliling-->
  <form action="http://127.0.0.1:5000/hitung_lebar">
    <button>Input Keliling</button>
  </form>
</body>

</html>
