<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login with usr authenticate with pw in python</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Welcome</h1>
  <form method="POST">
    <input type="text" name="username" placeholder="Masukan username"><br>
    <input type="text" name="password" placeholder="Masukan password"><br>
    <input type="submit" value="kirim">
  </form>
</body>

</html>
