<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
      <h1>Jinja Aritmathics</h1>
      <p>Hasil</p>
      <!-- Menggunakan operator matematika pada umum nya entah itu * / + - --> 
      <p>Hasil a = {{a}} dan b = {{b}}</p> 
      
      <!-- + -->
      <p>{{a + b}}</p>

      <!-- - -->
      <p>{{a - b}}</p>

      <!-- * -->
      <p>{{a * b}}</p>
      
      <!-- / -->
      <p>{{a/b}}</p>  
  </body>
</html>
