<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Hasil newtesdb</h1>
  <table border="1px">

    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
    <!-- memanggil dengan metode for loop dalam bentuk i dan memanggil konstruktor class yang dibungkus dalam route-->
    {% for i in container%}
    <tr>

      <td>{{i.nomor}}</td>
      <td>{{i.nama}}</td>
      <td>{{i.absen}}</td>

    </tr>
    {%endfor%}
  </table>
</body>

</html>
